* {
    margin:0;
}

*::selection {
    background-color: red;
}

h1 {
    font-size: 60px;
    font-family: sans-serif;
    padding:20px;
}

h2 {
    font-size: 48px;
    font-family: sans-serif;
    padding:20px;
}

h2:hover {
    cursor: pointer;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    font-size: 80vh;
    margin:0;
    color: gold;
}

h6 {
    font-size: 24px;
    font-family: sans-serif;
    padding:20px;
}

p {
    font-size: 36px;
    font-family: sans-serif;
    padding:20px;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color:black;
    background-color: gold;
    transition: background-color 1s;
    transition-delay: 1s;
}

a:hover {
    color:black;
    cursor: alias;
    background-color:red;
    transition: background-color 1s;
}

.override {
    background-color: #29ABE2 !important;
}

.override:hover {
    background-color: #29ABE2 !important;
    cursor: alias !important;
}

img {
    width: 40vw;
}

video {
    width: 20vw;
    margin:10px;
}

ol {
    font-family: sans-serif;
    margin-left:100px;
    font-size: 110px;
}

footer {
    font-family: sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}


/* label structure */

.label {
    margin:10px;
    border:black;
    border-style: solid;
}

.content {
    display: none;
    margin: 10px 30px 10px 30px;
}


/* alignment helpers */

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}


/* size helpers */

.big {
    font-size: 90px;
}


/* youtube, twitter alignment */

.youtube {
    width: 1120px;
    height: 630px;
}

.youtube-wrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 50px;
}

.col {
    width: 30vw;
}

/* drug facts home */
.home {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: white;
}

.turn {
    position: relative;
    margin-top: -5vh;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    background-color: #29ABE2;
    z-index: 2;
    top:10px;
}

.drug-fact:hover {
    width: fit-content;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 150px;
    margin: 0;
    padding: 0;
    background-image: url("./waves.svg");
}

.wave.wave1 {
    animation: wavy2 30s linear infinite;
    animation-delay: 0;
    z-index: 1;
}

.wave.wave2 {
    animation: wavy 45s linear infinite;
    animation-delay: -5s;
    opacity: 0.5;
    z-index: 1;
}

.wave.wave3 {
    animation: wavy 30s linear infinite;
    animation-delay: -2s;
    opacity: 0.7;
    bottom:5px;
    z-index: 1;
}

.wave.wave4 {
    animation: wavy2 45s linear infinite;
    animation-delay: 0;
    opacity: 0.2;
    bottom: 10px;
    z-index: 1;
}

@keyframes wavy
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 4000px;
    }
}

@keyframes wavy2
{
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -4000px;
    }
}

/* scrolling burn images */

#back {
    width: 50vw;
}

#arm {
    width: 30vw;
}

#feet {
    width: 30vw;
}

.scroll {
	width: 100%;
	display: flex;
	margin-bottom: 15px;
	animation: flexmove 10s infinite;
	overflow: hidden;
}

.start1 {
	animation: bannermove 12s linear infinite;
}

@keyframes bannermove {
	0% {margin-left: 0px;}
	100% {margin-left: -110vw;}
}