@font-face {
    font-family: "Oswald";
    src: url("../../../exercises/interview/assets/Oswald-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

*::selection {
    background-color: red;
}

body {
    margin:0;
}

h1 {
    margin:10px;
    padding: 10px 20px 10px 20px;
    font-family: "Oswald", sans-serif;
    font-size: 90px;
    width: fit-content;
    max-width: 60vw;
}

h5 {
    margin:0;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    color:rgb(70, 70, 70);
    text-align: center;
}

h6 {
    margin:0;
    padding: 10px 10px 10px 10px;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    width: fit-content;
    max-width: 45vw;
}

p {
    margin:10px;
    padding: 10px 20px 10px 20px;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    width: fit-content;
    max-width: 45vw;
}

a {
    text-decoration: none;
    color:red;
}

div {
    margin:0;
}

.message-img {
    border-radius: 25px;
    width: 45vw;
    padding: 10px;
}


/* name info icon + animation */

.icon {
    width:40px;
    background-image: url("./info.png");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-img {
    width: 40px;
}

.info {
    display: none;
}

.icon:hover {
    width: fit-content;
    max-width: 45vw;
    background-image: none;
}

.icon:hover .info {
    display: block;
}


/* fact check info icon + animation */

.fact {
    border-radius: 25px;
    margin:10px;
    padding: 10px 20px 10px 20px;
}

.fact:hover {
    width: fit-content;
    max-width: 45vw;
    background-image: none;
}

.fact:hover .info {
    display: block;
}

.white {
    background-color: white;
}

.yellow {
    background-color: gold;
}


/* alignment helpers */

.right {
    text-align: right;
    display:flex;
    justify-content: flex-end;
    margin-right:30px;
}

.left {
    text-align: left;
    display:flex;
    justify-content: flex-start;
    margin-left:30px;
}


/* landing screen, intro messages */

.title {
    margin-top:50px;
    height: 100vh;
}

.title h1 {
    background-color: gold;
    border-radius: 25px;
}

.intro p {
    background-color: gold;
    border-radius: 25px;
}


/* sunburn section */

.sunburn {
    background-color: gold;
    margin-top:50px;
}

.sunburn p {
    background-color: white;
    border-radius: 25px;
}


/* "just for pale people" section */

.pale p {
    background-color: gold;
    border-radius: 25px;
}



/* outro messages */

.outro p {
    background-color: gold;
    border-radius: 25px;
}