.clock {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#e66465, #9198e5)
}

.hour {
    position: absolute;
}

.minute {
    position: absolute;
}

.second {
    position: absolute;
}


