
body {
    background-color: lavender;
  }
  
  div {
    width: 500px;
    height: 200px;
  }
  
  div.static {
    background-color: blue;
    position: static;
  }
  
  div.relative {
    background-color: yellow;
    position: relative;
    left:100px;
    top:100px;
  }
  
  div.fixed {
    background-color: purple;
    position: fixed;
    top:10px;
  }
  
  div.absolute {
    background-color: green;
    position: absolute;
    left:20px;
  }
  
  div.sticky {
    background-color: red;
    position: sticky;
    top:0;
  }